h1 {
    text-align: center;
}

body {
    background-color: lightgray;
}

.card {
    width: 100%;
    max-width: 640px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: white;
    margin-bottom: 5px;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

.post-body {
    font-size: 24px;
    font-weight: bold;
    margin-left: 5px;
}

.hidden {
    display: none
}

.material-symbols-outlined {
    cursor: default;
}

/* styling mostly from https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-form {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

#modal-post,
#modal-edit {
    background-color: #fefefe;
    margin: 5% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}

.modal-header {
    display: flex;
    justify-content: flex-end;
}


.button-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    display: flex;
    justify-content: space-evenly;
}


/* CSS from https://getcssscan.com/css-buttons-examples */
.button-50 {
    appearance: button;
    background-color: rgb(0, 101, 82);
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 20px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-50:focus {
    text-decoration: none;
}

.button-50:hover {
    text-decoration: none;
}

.button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button-50 {
        padding: 12px 50px;
    }
}

/* https://copy-paste-css.com/form-input-text */
.search-box {
    width: 80%;
    max-width: 580px;
    height: 36px;
    border-radius: 4px;
    padding-left: 12px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: normal;
    border: 1px solid rgb(137, 151, 155);
    outline: none;
    color: rgb(33, 49, 60);
    background-color: rgb(255, 255, 255);
    padding-right: 12px;
}

.search-form {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.material-symbols-outlined {
    font-size: 36px;
    vertical-align: middle;
}

.communities-title-container {
    display: flex;
}

.community-li {
    cursor: default;
}

.community-li:hover {
    color: blue;
}

ul {
    list-style: none;
}

.like-button {
  background-color: rgb(0, 101, 82);
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 6px 16px;
  text-align: center;
}

.delete-button {
  background-color: #BF0603;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 6px 16px;
  text-align: center;
}

.edit-button {
  background-color: rgb(0, 101, 82);
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 6px 16px;
  text-align: center;
}

.close-button {
  background-color: rgb(0, 101, 82);
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 6px 16px;
  text-align: center;
}

.submit-button {
  background-color: rgb(0, 101, 82);
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 5px 5px 10px 0;
  overflow: visible;
  padding: 6px 16px;
  text-align: center;
}

.like-button, .edit-button, .delete-button, .close-button, .submit-button {
  transition-duration: 0.3s;
}

.like-button:hover {
  background-color: green;
  color: white;
}

.edit-button:hover {
  background-color: green;
  color: white;
}

.submit-button:hover {
  background-color: green;
  color: white;
}

.delete-button:hover {
  background-color: red;
  color: black;
}

.close-button:hover {
  background-color: green;
  color: white;
}
